:root {
    --nav-height: $nav-height;
}

nav {
    width: 100%;
    position: relative;
    height: var(--nav-height);
    background: $nav-bg;
    margin-bottom: $nav-margin;
    border-bottom: $default-bottom;
    box-shadow: 0 2.5px 4px 0 #bbb;
    flex: 0 1 auto;
    z-index: 2;

    ul {
        position: relative;
        width: 75%;
        height: 100%;
        display: inline-flex;
        margin: 0;
        padding: 0;
        list-style-type: none;
        align-items: center;

        li {
            padding: .75em 1em;
            display: inline-block;
            margin: 0;
            text-transform: uppercase;
            border-radius: 2em;

            &:hover {
                background: $hover-bg;
            }

            a {
                text-decoration: none;
                display: block;
                color: $nav-fg;

                &:hover {
                    color: $nav-fg;
                }
            }
        }

        &:hover {
            .decorator {
                display: none;
            }

            li.selected {
                border-radius: 2em;
            }
        }
    }

    .date-time {
        position: absolute;
        width: 25%;
        height: 100%;
        display: inline-flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 1.3em;
        text-shadow: $nav-date-time-shadow;

        .time {
            margin: 0 .5em;
        }
    }

    .settings {
        margin: 0 .75em;

        &:hover {
            background: $hover-bg;
            border-radius: 2em;
        }
    }
}

